@import './_basics.scss';

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-top: 8px;
  align-items: center;
  color: white;

  @media screen and (min-width: 1200px) {
    .top-info {
      @apply flex justify-between w-[1200px] mb-8;
      .top-info__right {
        @apply flex flex-col gap-2;

        button {
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .movie-plot {
      width: 1200px;
      text-indent: 2rem;
    }
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
    .top-info {
      @apply flex flex-col items-center;
      .top-info__right {
        display: flex;
        flex-direction: column;

        button {
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      margin-bottom: 50px;
    }
    .movie-plot {
      display: flex;
      text-indent: 2rem;
    }
  }
}