.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-top: 8px;
  align-items: center;
  @media screen and (min-width: 1200px) {
    .top-info {
      @apply flex justify-between w-[1200px] mb-8;
      .top-info__right {
        @apply flex flex-col gap-2;
      }
    }
    .movie-plot {
      width: 1200px;
    }
  }
  @media screen and (max-width: 500px) {
    .top-info {
      @apply flex flex-col items-center;
      .top-info__right {
        display: flex;
        flex-direction: column;
      }

      margin-bottom: 50px;
    }
    .movie-plot {
      display: flex;
    }
  }
}